@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-accent-1: #1AE855;
  --color-accent-2: #0EEAE1;
  --color-accent-3: #1AE89B;
  --color-accent-4: #27E81A;
  --color-accent-5: #1AADE8;
  --color-accent-6: #67E8B8;
  
  --color-main-bg: #FFFFFF;
  --color-main-text: #171717;
  
  --font-sans: Helvetica, Arial, sans-serif;
}

:root {
  --background: var(--color-main-bg);
  --foreground: var(--color-main-text);
}

@keyframes hackerBlink {
  0% { opacity: 1; }
  100% { color: #22ff22; opacity: 1; }
  50% { color: #006600; opacity: 0.3; }
}

.hacker-blink {
  animation: hackerBlink 1s infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
